
.productCard {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}
.productContainerCard {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
