.title {
  text-align: center;
  font-size: 15px;
  margin: 30px;
}

.price {
  text-align: center;
  font-weight: 500;
}

.logo {
  width: 100px;
  height: 100px;
}

.loadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.loadTitle {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: px;
}


.productDesc{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}



.productButton{
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
  /* font-size: 30px; */
}

.imgProduct {
  width: 100px;
  height: 250px;
}

@media (max-width: 768px){
.buttons h1{
font-size: 20px;
}
.buttons h3{
  font-size: 18px;
  }
  }
